/* GLOBAL STYLING */ 

* {
    box-sizing: border-box;
}

a {
    color: #5d2062;
}

.main-wrapper {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Georgia', sans-serif;
    background-color: #eff3f6;
    display: flex;
    flex-direction: column; /* Use flex to stack content vertically */
    height: 100%;
}

button {
    font-family: 'Georgia', sans-serif;
    font-size: 16px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border: 1px solid #000000;
    border-radius: 3px;
    margin: 5px;
    background-color: #f4f7fa;
}

/* styling for input fields */ 
input {
    margin: 5px;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
}

/* styling for dropdown menus */ 
select {
    margin: 5px;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 3px;
}

/* styling for tables */ 
table {
    border-collapse: collapse; /* this means that the borders of the table cells will be collapsed into a single border */
    border: #000000 1px solid;
    border-radius: 3px;
    }

    
table th, table td {
    border: #000000 1px solid;
    padding: 5px;
}


/* styling for images */ 
img {
    border-radius: 0px;
    max-width: 100%;
}

@media (max-width: 480px) {

    h1 {
        font-size: 24px;
        margin: 10px;
    }

    h2 {
        font-size: 20px;
        margin: 10px;
    }

    h3 {
        font-size: 18px;
        margin: 10px;
    }

    h4 {
        font-size: 16px;
        margin: 10px;
    }

    table th, table td {
        padding: 0px;
        padding-right: 5px;
    }

}